/hostMetrics/.idea
/thinkJava/CardsApp/nbproject/private/
/thinkJava/cards-app/target/
/asp-net-mvc-integration/packages
/asp-net-mvc-integration/SampleWebApp/obj
/asp-net-mvc-integration/SampleWebApp/bin
/asp-net-mvc-integration/.idea
